*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    dipaly:block;
    padding: 20px;
}
h1{
    color: steelblue;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 10px;
}

main {
  max-width: 840px;
}


aside {
  margin: 1em;
     text-align: center;
}


main img {
  width: 200px;  height: auto;
}

p { 
  padding: 0;
}


footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
/* class selectors*/


.box{
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color:#000;
}
main img{
  float: right;
  width: 10%;
	height: 10%;
}
aside h2{
  position: relative;
  top: 40px;
  left: 140px;
}